html {
  font-size: 1.5vw;
}

:root {
  --gap-card: 1rem;
}

body {
  margin: 0;
}

main {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fffacd;
}

.root {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80vh;
  gap: var(--gap-card);
  padding: 10px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-grow: 1;
  gap: var(--gap-card);
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  position: relative;
  perspective: 1000px;
}

.form {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-card);
}

.input {
  background-color: #ffffe0;
  width: 80%;
  padding: 20px;
  font-size: 2rem;
  height: 62px;
  border: #d2691e 1px solid;
  border-radius: 15px;
  text-align: center;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}

.btn {
  cursor: pointer;
  font-size: 2rem;
  background-color: #f4a460;
  border: #d2691e 1px solid;
  border-radius: 15px;
  padding: 12px;
  max-width: 49%;
  text-decoration: none;
  color: #61310e;
}

.back,
.front {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: all 1s ease-in-out;
}

.back {
  background-color: royalblue;
}

.front {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: cornflowerblue;
  font-size: 3rem;
  font-weight: bold;
  transform: rotateY(180deg);
}

div.card--opened .front {
  transform: rotateY(360deg);
}

div.card--opened .back {
  transform: rotateY(180deg);
}

.failed .front {
  background-color: red;
}

.done .front {
  background-color: green;
}

.buttons {
  display: flex;
  gap: var(--gap-card);
}

.buttons .btn {
  flex-grow: 1;
}

.time-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  border: #d2691e 1px solid;
  border-radius: 50px;
  -webkit-box-shadow: 14px 15px 41px 26px rgba(34, 60, 80, 0.16);
  -moz-box-shadow: 14px 15px 41px 26px rgba(34, 60, 80, 0.16);
  box-shadow: 14px 15px 41px 26px rgba(34, 60, 80, 0.16);
}
